<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>/</display-name>
 	   <listener>
	 	<listener-class>
	 		  org.springframework.web.context.ContextLoaderListener
	    </listener-class>
    </listener>  
  <servlet>  
  <servlet-name>dispatcher</servlet-name>  
        <servlet-class>  
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>  
        <init-param> 
            <param-name>contextConfigLocation</param-name>  
            <param-value>/WEB-INF/spring-mvc.xml,/WEB-INF/applicationContext.xml</param-value> 
        </init-param>  
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>  
        <servlet-name>dispatcher</servlet-name>  
        <url-pattern>*.do</url-pattern>
    </servlet-mapping> 
     <servlet-mapping>  
        <servlet-name>dispatcher</servlet-name>  
        <url-pattern>*.dox</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>  
        <servlet-name>dispatcher</servlet-name>  
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>  
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
	    <servlet-name>default</servlet-name>  
 	   <url-pattern>*.jpg</url-pattern>     
	</servlet-mapping>    
	<servlet-mapping>       
	    <servlet-name>default</servlet-name>    
	    <url-pattern>*.js</url-pattern>    
	</servlet-mapping>    
	<servlet-mapping>        
	    <servlet-name>default</servlet-name>       
	    <url-pattern>*.css</url-pattern>      
	</servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <error-page>
		<error-code>400</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>